<template>
<div class="container">
	<div class="text-center">
		<img alt="logo" src="@/assets/doc.png" width="180px" height="150px">
		<h1>Clinimetria</h1>
	</div>
</div>
</template>



<script>
	export default {
		name: 'Cabecera',
	}
</script>