<template>
    <div class="container">
      
<!--------Title and Patient name --------------------------------------->

    <section id="patient">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1>Indice de calidad de vida. - DLQI -</h1>
             <div class="input-group input-group-lg mt-5 mb-4">
               <div class="input-group-prepend">
               <span class="input-group-text">First and last name</span>
               </div>
               <input type="text" aria-label="First name" class="form-control">
               <input type="text" aria-label="Last name" class="form-control">
              </div>
             <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                   <span class="input-group-text" id="dni">Documento</span>
                </div>
                <input type="number" class="form-control" placeholder="Documento" aria-label="Documento" aria-describedby="dni">
             </div>
            </div>
          </div>
        </div>
    </section>
    <hr>
              
   <!--------------------- Cuestionario DLQI --------------------------------->

      <section id="preguntas">
        <div class="container">
          
            <ul class="list-group">
              <li v-for="(item, index) of preguntas" :key="item.id" @click="aumentarDlqi(index)"
              class="list-group-item d-flex justify-content-between align-items-center">
              {{index + 1}}. Durante la última semana, {{item.pregunta}}
              <span class="badge badge-primary badge-pill">{{item.cantidad}}</span>
              </li>
            </ul>
            <button class="btn btn-info btn-block" @click="reinicioDlqi">Reiniciar</button>
          
        </div>    
    </section>


    </div>
</template>

<script>

import {mapState, mapMutations} from 'vuex';

export default {
    name: 'Dlqi',
    computed: {
        ...mapState(['preguntas'])
    },
    methods: {
        ...mapMutations(['aumentarDlqi', 'reinicioDlqi'])
    }
}
</script>

