<template>
	<div class="container">
		<ul class="list-group">
  			<li v-for="(item, index) of signos" :key="item.id" @click="aumentar(index)"
        class="list-group-item d-flex justify-content-between align-items-center">
    		{{ item.signo }}
    		<span class="badge badge-primary badge-pill"> {{ item.cantidad }} </span>
  			</li>
  	</ul>		
    <button class="btn btn-primary btn-block" @click="reinicio()">Reiniciar</button>
	</div>
</template>



<script>
  import {mapState, mapMutations} from 'vuex';

	export default {
		name: 'Signos',
		computed: {
      		...mapState(['signos'])
    },
    	methods: {
      		...mapMutations(['aumentar', 'reinicio'])
    }
	}
</script>