<template>
  <div id="app" class="container">
    <Cabecera/>
    <Signos></Signos>
    <hr>
  
    <Dlqi></Dlqi>
    
  </div>
</template>


<script>

import Cabecera from './components/Cabecera.vue'
import Signos from './components/Signos.vue'
import Dlqi from './components/Dlqi.vue'

export default {
  name: 'app',
  components: {
    Cabecera,
    Signos,
    Dlqi
  }
}
</script>


